apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: liveclinic
  name: liveclinic-backend
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: backend
        image: docker.io./jonahirande/liveclinic-backend:1.0
