apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: liveclinic
  name: liveclinic-frontend
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: frontend
        image: docker.io/jonahirande/liveclinic-frontend:1.0